* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
  padding: 10px;
}

h2, .subtitle-2, .button-2 {
  color: blue;
  padding: 10px;
}

h3, .subtitle-3, .button-3 {
  color: purple;
  padding: 10px;
}
