* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$first: red;

$second: blue;

$third: purple;

$padding: 10px;

$maiuscolo: uppercase;

h1 {
  color: $first;
  padding: $padding;
}

h2, .subtitle-2, .button-2 {
  color: $second;
  padding: $padding;
}

h3, .subtitle-3, .button-3 {
  color: $third;
  padding: $padding;
}

.button-2, .button-3 {
  text-transform: $maiuscolo;
}
